@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #393939;
}

.landing {
    background-image: url("./assets/landing-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}